@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.body {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #DAFFFB;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 30%;
    padding: 40px;
    border-radius: 10px;
}

.mindmatter {
    background-color: #02607E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 80px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

hr {
    border: 1px solid;
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    color: black;
}

.sub-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

input {
    border-radius: 10px;
    padding-inline: 20px;
    height: 40px;
    width: 100%;
    border: none;
    background-color: #C5EBE9;
}

.btn-daftar {
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

p {
    font-size: 13px;
}

::placeholder {
    font-size: 14px;
}

#masuk {
    color: #3431A2;
}